@import url('https://fonts.googleapis.com/css?family=Pacifico');

body, html {
    color: #fff;
    font-size: 1em;
    background-color: #21262f;
}

a, a:visited, a:hover {
    color: #778899;
    text-decoration: none;
}

a:hover {
    color: #fff;
    transition: fill .2s;
    text-shadow: 0 2px 6px #15191f;
}

a:not(:hover) {
    color: #778899;
    transition: fill .2s;
}

#about {
    font-size: 48px;
    position: fixed;
    margin: 15px 15px;
    bottom: 0;
    left: 0;
    color: #778899;
    max-width: 500px;
    text-shadow: 0 2px 6px #15191f;
}

#love {
    font-size: 3em;
}

.fa-heart {
    position: fixed;
    margin: 15px 15px;
    bottom: 0;
    right: 0;
    color: #778899;
}

#works {
    z-index: 10;
    font-size: 3em;
    font-weight: 600;
}

.hide {
    display: none;
}

.fullscreen-love {
    display: inline;
    position: fixed;
    opacity: .5;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity .2s;
}

.fullscreen {
    display: inline;
    position: fixed;
    opacity: .75;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.tweet {
    display: none;
    position: fixed;
    margin: 50px 20px;
    bottom: 0;
    right: 0;
    width: 25vw;
    filter: drop-shadow(10px 10px 9px #15191f);
}

@media (min-width: 1200px) {
    .tweet {
        display: initial;
    }
}

/* Corgi SVG */
.monitorimg {
    height: 23px;
    width: 21px;
    transform: translate(291px, 318px) skew(4deg, -29deg);
}

.cls-1 {
    fill: #696870;
}

.cls-2 {
    fill: #7c798d;
}

.cls-3 {
    fill: #15191f;
}

.cls-4 {
    fill: #5c5a5a;
}

.cls-5, .cls-68 {
    fill: #fff;
}

.cls-6, .cls-67 {
    fill: none;
}

.cls-6 {
    stroke: #5c5a5a;
}

.cls-6, .cls-67, .cls-68, .cls-69 {
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

.cls-7 {
    fill: #433833;
}

.cls-8 {
    fill: #5a4a44;
}

.cls-9 {
    fill: #b5b5b5;
}

.cls-10 {
    fill: #797979;
}

.cls-11 {
    fill: #f2f2f2;
}

.cls-12 {
    fill: #2d2522;
}

.cls-13 {
    fill: #5a5b5c;
}

.cls-14 {
    fill: #f7f7f7;
}

.cls-15 {
    fill: #dbdbdb;
}

.cls-16 {
    fill: #444141;
}

.cls-17 {
    fill: #5b5b5b;
}

.cls-18 {
    font-size: 6.26px;
    fill: #56ff4d;
    font-family: Pacifico, Helvetica;
}

.cls-19 {
    fill: #a4a4a4;
}

.cls-20 {
    fill: #888;
}

.cls-21 {
    fill: #7f7f7f;
}

.cls-22 {
    fill: #6e6e6e;
}

.cls-23 {
    fill: #000000;
}

.cls-24 {
    fill: #dd5c52;
}

.cls-25 {
    fill: #d53327;
}

.cls-26 {
    fill: #bfbfbf;
}

.cls-27 {
    fill: #e5ad6a;
}

.cls-28 {
    fill: #f3bb6f;
}

.cls-29 {
    fill: #f5c788;
}

.cls-30 {
    fill: #8f8f8f;
}

.cls-31 {
    fill: #3a302d;
}

.cls-32 {
    fill: #ffc900;
}

.cls-33 {
    fill: #ffed1b;
}

.cls-34 {
    fill: #ffe300;
}

.cls-35 {
    fill: #362714;
}

.cls-36 {
    fill: #efd7ba;
}

.cls-37 {
    fill: #b3a18b;
}

.cls-38 {
    fill: #ffefcf;
}

.cls-39 {
    fill: #d6d6d6;
}

.cls-40 {
    fill: #a666ff;
}

.cls-41 {
    fill: #fc6;
}

.cls-42 {
    fill: #5ae6ff;
}

.cls-43 {
    fill: #e57373;
}

.cls-44 {
    fill: #acff5a;
}

.cls-45 {
    fill: #232323;
}

.cls-46 {
    fill: #121212;
}

.cls-47 {
    fill: #488d44;
}

.cls-48 {
    fill: #60bc5b;
}

.cls-49 {
    fill: #bfb9ac;
}

.cls-50 {
    fill: #605d57;
}

.cls-51 {
    fill: #807b73;
}

.cls-52 {
    fill: #b3b3b3;
}

.cls-53 {
    fill: #e6e6e6;
}

.cls-54 {
    fill: #a1753e;
}

.cls-55 {
    fill: #bf7e43;
}

.cls-56 {
    fill: #3d3d3d;
}

.cls-57 {
    fill: #e2e2e2;
}

.cls-58 {
    fill: #afafaf;
}

.cls-59 {
    fill: #fbd800;
}

.cls-60 {
    fill: #e9ca05;
}

.cls-61 {
    fill: #ee3f35;
}

.cls-62 {
    fill: #59b055;
}

.cls-63 {
    fill: #527bd6;
}

.cls-64 {
    fill: #de3a31;
}

.cls-65 {
    fill: #3e5ca1;
}

.cls-66 {
    fill: #f33;
}

.cls-67, .cls-68, .cls-69 {
    stroke: #fff;
}

.cls-69 {
    fill: #323232;
}

.cls-70 {
    fill: #5c5c5c;
}

.cls-71 {
    fill: #fff3cd;
}

.cls-72 {
    fill: #e99c3f;
}

.cls-73 {
    fill: #ffedae;
}

.cls-74 {
    fill: #c1272d;
}

.cls-75 {
    fill: #ed1c24;
}

.cls-76 {
    fill: #f69799;
}

.cls-77 {
    fill: #f2c48c;
}

.cls-78 {
    fill: #edb065;
}

.cls-79 {
    fill: #e6c497;
}

.cls-80 {
    fill: #d69c52;
}

.cls-81 {
    fill: #ccc;
}

.cls-82 {
    fill: #452c0d;
}

.cls-83 {
    fill: #b5ab9e;
}

.cls-84 {
    fill: #fff7e8;
}
