
body, html {
    color: #fff;
    font-size: 1em;
    background-color: #21262f;
}

a, a:visited, a:hover {
    color: #778899;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#name {

}

#corgi {

}

#about {
    font-size: .8em;
    position: fixed;
    margin: 15px 15px;
    bottom: 0;
    right: 3em;
    color: #778899;
}

#love {
    font-size: 3em;
}

.fa-heart {
    position: fixed;
    margin: 15px 15px;
    bottom: 0;
    right: 0;
    color: #778899;
}

#works {
    z-index: 10;
    font-size: 3em;
    font-weight: 600;
}

.hide {
    display: none;
}

.fullscreen-love {
    display: inline;
    position: fixed;
    opacity: .5;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.fullscreen {
    display: inline;
    position: fixed;
    opacity: .7;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

svg polygon {
    fill: none;
    stroke: #09d;
    stroke-width: 3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 5s linear forwards;
    animation: dash 5s linear forwards;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
